@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  box-sizing: border-box;
}

body {
  font: 400 0.875rem/1.5 "Roboto", sans-serif;
  background: #f6ea8c;
  color: #363842;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 0.25em;
  margin-top: 0;
}

header h1 {
  font-size: 5.99999em;
}

header h2 {
  font-size: 5.0em;
}

header h3 {
  font-size: 4.0em;
}

header h4 {
  font-size: 3.0em;
}

header h5 {
  font-size: 2.0em;
}

header h6 {
  font-size: 1.0em;
}

article h1 {
  font-size: 4.02em;
}

article h2 {
  font-size: 3.35em;
}

article h3 {
  font-size: 2.68em;
}

article h4 {
  font-size: 2.01em;
}

article h5 {
  font-size: 1.34em;
}

article h6 {
  font-size: 0.67em;
}

aside h1 {
  font-size: 1.98em;
}

aside h2 {
  font-size: 1.65em;
}

aside h3 {
  font-size: 1.32em;
}

aside h4 {
  font-size: 0.99em;
}

aside h5 {
  font-size: 0.66em;
}

aside h6 {
  font-size: 0.33em;
}

.material-icons, .homebtngrp .homebtngrp-right::before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  box-sizing: border-box;
}

button {
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #363842;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  border: solid 0.3rem #363842;
  border-radius: 0.4rem;
  padding: 0.8rem 1.2rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button:hover {
  box-shadow: 0.3rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.3);
}

button:active {
  box-shadow: none;
}

button.open {
  background-color: #f6ea8c;
  color: #363842;
}

button.white {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

button.blue {
  color: #448BC9;
  border-color: #448BC9;
}

button.white:focus {
  box-shadow: 0 0 0 0.15rem #cccccc;
  outline: none;
}

button.white:hover {
  color: #448BC9;
  background-color: #FFFFFF;
}

button.blue:focus {
  box-shadow: 0 0 0 0.15rem #93bce0;
  outline: none;
}

button.blue:hover {
  color: #FFFFFF;
  background-color: #448BC9;
}

.homebtngrp {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.homebtngrp.homebtngrp--login > button, .homebtngrp.homebtngrp--loggedin > button, .homebtngrp.homebtngrp--invitecode > button {
  margin: 0;
}

.homebtngrp.homebtngrp--login > .homebtngrp-left, .homebtngrp.homebtngrp--loggedin > .homebtngrp-left, .homebtngrp.homebtngrp--invitecode > .homebtngrp-left {
  border-right-style: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  color: #363842;
}

.homebtngrp.homebtngrp--login > .homebtngrp-right, .homebtngrp.homebtngrp--loggedin > .homebtngrp-right, .homebtngrp.homebtngrp--invitecode > .homebtngrp-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.homebtngrp.homebtngrp--login > .homebtngrp-left::before {
  content: "Logging you in...";
}

.homebtngrp.homebtngrp--login > .homebtngrp-right::before {
  content: "autorenew";
}

.homebtngrp.homebtngrp--loggedin > .homebtngrp-left, .homebtngrp.homebtngrp--invitecode > .homebtngrp-left {
  display: none;
}

.homebtngrp.homebtngrp--loggedin > .homebtngrp-left-input, .homebtngrp.homebtngrp--invitecode > .homebtngrp-left-input {
  display: block;
}

.homebtngrp.homebtngrp--loggedin > .homebtngrp-right::before {
  content: "check";
}

.homebtngrp.homebtngrp--invitecode > .homebtngrp-left-input {
  background-color: #363842;
  color: #ffffff;
}

.homebtngrp.homebtngrp--invitecode > .homebtngrp-left-input-label {
  display: block;
}

.homebtngrp.homebtngrp--invitecode > .homebtngrp-right::before {
  content: "send";
}

.homebtngrp .homebtngrp-left-input-label {
  display: none;
  position: absolute;
  left: 0;
  padding-right: 3rem;
  width: 100%;
  bottom: -1.7rem;
}

.homebtngrp .homebtngrp-left-input {
  height: 3.4rem;
  width: 20rem;
  display: none;
  background-color: transparent;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 0.3rem #363842;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-right-style: none;
  text-align: center;
  font-size: 1.5em;
  color: #363842;
  transition: background-color 0.2s ease-in-out;
  outline: none;
}

.homebtngrp .homebtngrp-left-input::after {
  position: relative;
  bottom: -2.5rem;
}

.homebtngrp .homebtngrp-left {
  width: 20rem;
  margin-bottom: 0;
}

.homebtngrp .homebtngrp-left::before {
  content: "Join A Classroom";
}

.homebtngrp .homebtngrp-right {
  margin-bottom: 0;
  padding: 0;
  width: 3.5rem;
  font-size: 2rem;
  position: relative;
}

.homebtngrp .homebtngrp-right::before {
  content: "add";
  top: 0;
  left: 0;
  line-height: 3rem;
}

input[type="text"], input[type="password"], select {
  font: inherit;
  border-style: solid;
  padding: 0.2rem;
  color: inherit;
  border-color: #B8B8B8;
  background-color: transparent;
  border-width: 0.15rem;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: border 0.1s ease-in-out;
}

input[type="text"].white:focus, input[type="text"].white:active, input[type="text"].white:hover, input[type="password"].white:focus, input[type="password"].white:active, input[type="password"].white:hover, select.white:focus, select.white:active, select.white:hover {
  border-color: #FFFFFF;
  outline: none;
}

input[type="text"].blue:focus, input[type="text"].blue:active, input[type="text"].blue:hover, input[type="password"].blue:focus, input[type="password"].blue:active, input[type="password"].blue:hover, select.blue:focus, select.blue:active, select.blue:hover {
  border-color: #448BC9;
  outline: none;
}

select option {
  color: #000000;
}

.maincontainer {
  width: 100%;
  height: 100%;
  margin: 0;
}

.fullpagecentercont {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10%;
}

.homeface {
  position: absolute;
  width: 40%;
  left: 70%;
  height: 80%;
  top: 48%;
}

.answ {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 0 0.3rem #fff;
  text-align: center;
  display: inline-block;
  margin: 10px;
  background-color: #fBFBFB;
}

.answ::after {
  width: 69%;
  height: 1.2rem;
  display: inline-block;
  color: #fBFBFB;
  font-weight: bold;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-color: #fff;
  border-width: 0.3rem;
  border-style: solid;
  line-height: 1.1rem;
}

.answ h1 {
  font-size: 5rem;
  margin-top: 4px;
  margin-bottom: 0;
}

.answ-true {
  color: #8CDB65;
  border: 0.3rem solid #8CDB65;
  float: left;
  margin-left: 10%;
}

.answ-true.ng-hide-remove {
  -webkit-animation: truehide 0.7s ease-in-out reverse;
          animation: truehide 0.7s ease-in-out reverse;
}

.answ-true.ng-hide-add {
  -webkit-animation: truehide 0.7s ease-in-out;
          animation: truehide 0.7s ease-in-out;
}

.answ-true::after {
  background-color: #bae9a3;
  border-top-color: #8CDB65;
  content: "Understand";
}

.answ-false {
  color: #ED4E4E;
  border: 0.3rem solid #ED4E4E;
  float: right;
  margin-right: 10%;
}

.answ-false.ng-hide-remove {
  -webkit-animation: falsehide 0.7s ease-in-out reverse;
          animation: falsehide 0.7s ease-in-out reverse;
}

.answ-false.ng-hide-add {
  -webkit-animation: falsehide 0.7s ease-in-out;
          animation: falsehide 0.7s ease-in-out;
}

.answ-false::after {
  background-color: #f49393;
  border-top-color: #ED4E4E;
  content: "Confused";
}

.answ-cont {
  z-index: 50;
  width: 100%;
}

@-webkit-keyframes truehide {
  from {
    margin-left: 10%;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 0;
  }
}

@keyframes truehide {
  from {
    margin-left: 10%;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes falsehide {
  from {
    margin-right: 10%;
    opacity: 1;
  }
  to {
    margin-right: -100%;
    opacity: 0;
  }
}

@keyframes falsehide {
  from {
    margin-right: 10%;
    opacity: 1;
  }
  to {
    margin-right: -100%;
    opacity: 0;
  }
}

.teacher-dash {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.teacher-dash .dash-bg {
  height: 450px;
  width: 100%;
  margin-top: 70px;
  transition: background-color 1s ease-in-out;
  padding: 2rem;
  padding-top: 50px;
}

.teacher-dash .dash-bg-under-title-cont {
  background-color: #000;
}

.teacher-dash .dash-bg-under-title-cont .dash-bg-under-title {
  transition: background-color 1s ease-in-out;
  color: #FFF;
  border-bottom-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 0.15rem;
  opacity: 0.95;
  line-height: 1.5rem;
}

.teacher-dash .dash-bg-under {
  background-color: #EAEAEA;
  width: 100%;
  height: 2rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 0 0 #E8E8E8;
  margin-bottom: 1rem;
}

.teacher-dash .dash-bg-under.ng-hide-add {
  -webkit-animation: dash-bg-underhide 0.2s ease-in-out;
          animation: dash-bg-underhide 0.2s ease-in-out;
}

.teacher-dash .dash-bg-under.ng-hide-remove {
  -webkit-animation: dash-bg-underhide 0.2s ease-in-out reverse;
          animation: dash-bg-underhide 0.2s ease-in-out reverse;
}

.teacher-dash .dash-bg-under .dash-bg-under-color {
  height: 100%;
  float: left;
  transition: all 0.5s ease-in-out;
}

.teacher-dash .dash-bg-under .dash-bg-under-current-container {
  padding-right: 1rem;
}

.teacher-dash .dash-bg-under .dash-bg-under-current {
  transition: margin-left 1s ease-in-out;
  position: relative;
}

.teacher-dash .dash-bg-under .dash-bg-under-current .dash-bg-under-perc {
  color: #fff;
  position: absolute;
  left: 0.15rem;
  top: 0.60rem;
  font-size: 1.25rem;
}

.teacher-dash .dash-bg-under .dash-bg-under-current .dash-bg-under-arrow {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #fff;
}

@-webkit-keyframes dash-bg-underhide {
  from {
    height: 2rem;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes dash-bg-underhide {
  from {
    height: 2rem;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.progress {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1rem;
  background-color: #EAEAEA;
  border-radius: 0.2rem;
  text-align: left;
  overflow: hidden;
}

.progress .prog-true {
  transition: width 0.5s ease-in-out;
  margin: 0;
  background-color: #8CDB65;
  height: 100%;
  display: inline-block;
  float: left;
}

.progress .prog-false {
  transition: width 0.5s ease-in-out;
  margin: 0;
  background-color: #ED4E4E;
  height: 100%;
  display: inline-block;
  float: left;
}

.color-choose {
  padding: 2rem;
  padding-top: 0.5rem;
}

.color-option {
  padding: 0.5rem;
  text-align: left;
}

.color-option .color-option-values {
  position: absolute;
  display: inline-block;
}

.color-option .prev-prec {
  display: inline-block;
  width: 2rem;
}

.color-option input, .color-option span, .color-option .prev-prec {
  margin-left: 1rem;
}

.color-option .color-option-previews {
  max-width: 20rem;
  display: inline-block;
}

.color-option .color-option-preview {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.2rem;
  display: inline-block;
  border: solid 0.15rem #EAEAEA;
}

.color-option .color-option-preview.active {
  border-color: #000;
}

.color-option .color-option-preview:hover {
  border-color: #B8B8B8;
  cursor: pointer;
}

.responses, .divStudent {
  padding: 2rem;
}

.dash-options {
  color: #fff;
}

.bgc-gray {
  background-color: #B8B8B8;
}

.bgc-blue {
  background-color: #448BC9;
}

.bgc-green {
  background-color: #8CDB65;
}

.bgc-red {
  background-color: #ED4E4E;
}

.text-green {
  color: #8CDB65;
}

.text-red {
  color: #ED4E4E;
}

.csr {
  cursor: pointer;
}

.csr:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.bglc-Violet {
  background-color: #EE82EE;
}

.bglc-RoyalBlue {
  background-color: #4169E1;
}

.bglc-LightSkyBlue {
  background-color: #448BC9;
}

.bglc-Aqua {
  background-color: #87CEFA;
}

.bglc-AquaMarine {
  background-color: #7FFFD4;
}

.bglc-Green {
  background-color: #008000;
}

.bglc-LimeGreen {
  background-color: #32CD32;
}

.bglc-Yellow {
  background-color: #F5F57A;
}

.bglc-Goldenrod {
  background-color: #DAA520;
}

.bglc-Orange {
  background-color: #FFA500;
}

.bglc-Red {
  background-color: #ED4E4E;
}

.bglc-Pink {
  background-color: #FFC0CB;
}

.bglc-Fuchsia {
  background-color: #FF00FF;
}

.bglc-Orchid {
  background-color: #DA70D6;
}

.bglc-Lavender {
  background-color: #E6E6FA;
}

.inline {
  display: inline;
}
