html(ng-app="IC")
  head
    title Interactive Classroom
    link(rel="stylesheet",href="/styles/normalize.css")
    link(rel="stylesheet",href="/styles/app.min.css")
    script(type="text/javascript", src="/vendor/vendor.min.js")
    link(rel='stylesheet' href='/vendor/vendor.min.css')
    script(src="/scripts/app.min.js")
    
  body
      block content
