html(ng-app="IC")
  head
    title Interactive Classroom
    script(type="text/javascript", src="/scripts/vendor.min.js")
    link(rel='stylesheet' href='/styles/vendor.min.css')
    link(rel="stylesheet",href="/styles/app.min.css")
    script(src="/scripts/app.min.js")
    
  body
      block content
