html(ng-app="IC")
  head
    title Interactive Classroom
    script(type="text/javascript", src="/scripts/vendor.min.js")
    link(rel='stylesheet' href='/styles/vendor.min.css')
    link(rel="stylesheet",href="/styles/app.min.css")
    script(src="/scripts/app.min.js")
    
  body
    .nav(ng-controller="Nav", ng-class="{'navexpanddisplace' : nav}", ng-show="showNav()")
      .navitems(ng-class="{'navexpand' : nav}")
        a(ng-repeat="item in items track by $index", class="repeat-animation", href="{{item.link}}", icon="{{item.icon}}").navitem {{item.fb.Name}}
      button(class="hamburger hamburger--elastic", ng-click="toggle()", ng-class="{'is-active' : nav}")
        span(class="hamburger-box")
          span(class="hamburger-inner")
    .maincontainer(ng-view)
