.fullpagecentercont
  header
    h1 {{classInfo.Name}}
  .stufaces
    .stuface
      include ../svg/happyFace.svg
    .stuface
      include ../svg/BlankFace.svg
    .stuface
      include ../svg/ConfusedFace.svg
  .stufacesselect

p {{currentAnswer | json}}
