.studentAngular(ng-controller='Student')
  .divStudent(ng-controller="StudentHue")
    h1 Student Section
    button(type="button",ng-click="answer(true)").blue I understand
    button(type="button",ng-click="answer(false)").blue I am confused
    input(type="text",ng-model="tempuserid",placeholder="UserID").blue
