.fullpagecentercont(my-resize gothing="findFlexBasis()")
  .answ-cont
    .answ.answ-true
      .answ-bottom-border
      h1 {{ Answers.zero }}
    .answ.answ-false
      h1 {{ Answers.one }}
  header
    h1 {{classPub.Name}}
    p {{Answers | json}}
    p {{Students | json}}
    p {{Topic | json}}
    button(ng-click="findFlexBasis()") Test
    input(ng-model="fakeperc")
  .colorbarcont
    span.material-icons.opencolorbarselector(ng-click="colorbarselect=!colorbarselect")
      span(ng-if="!colorbarselect" class="dark") edit
      span(ng-if="colorbarselect" class="light") close
    .colorbarindicatorcont
      .colorbarindicator.material-icons(style="left: {{fakeperc}}%") lightbulb_outline
    .colorbarselector(ng-show="colorbarselect")
      .colorbarselect(ng-repeat="color in avalicolors" data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{animate:true, placeholder:'keep', onStart:'draggingColorStart', onStop:'draggingColorStop'}" class="bglc-{{color}}" ng-model="color")
      .colorbarselect(data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{animate:true, placeholder:'keep', onStart:'draggingColorRemoveStart', onStop:'draggingColorRemoveStop'}" class="removecolor" ng-model="removeColor")
        span.material-icons highlight_off
    .colorbar
      .colorbarfacel
        include ../svg/BlankFace.svg
      .colorbarcoloraddl(ng-show="draggingColor" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colorbaradd.left")
        span.material-icons add
      section.colorbarcolor(ng-repeat="(key, color) in colors" id="color-{{key}}" ng-if="!$last" resizable r-directions="['right']" r-flex="true" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="color.color" ng-class="'bglc-'+color.color" ng-mouseup="recalcColor()")
      section.colorbarcolor(id="color-{{colors.length-1}}" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colors[colors.length-1].color" ng-class="'bglc-'+colors[colors.length-1].color" ng-mouseup="recalcColor()")
      .colorbarcoloraddr(ng-show="draggingColor" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colorbaradd.right")
        span.material-icons add
      .colorbarfacer
        include ../svg/happyFace.svg
