.fullpagecentercont(my-resize gothing="findFlexBasis()")
  .stuprofpiccont.stuprofpicconttop
    .stuprofpic.stuprofpichead(ng-show="Answers.one>0")
      include ../svg/BlankFace.svg
    .stuprofpic(ng-repeat="student in Students.ActiveList | filter: {Answer:1}")
      .stuprofpic404(ng-show="student.ProfilePicture==undefined") ?
      img(ng-src="{{student.ProfilePicture}}")
  .stuprofpiccont.stuprofpiccontleft
    .stuprofpic.stuprofpichead(ng-show="Answers.zero>0")
      include ../svg/ConfusedFace.svg
    .stuprofpic(ng-repeat="student in Students.ActiveList | filter: {Answer:0}")
      .stuprofpic404(ng-show="student.ProfilePicture==undefined") ?
      img(ng-src="{{student.ProfilePicture}}")
  .stuprofpiccont.stuprofpiccontright
    .stuprofpic.stuprofpichead(ng-show="Answers.two>0")
      include ../svg/happyFace.svg
    .stuprofpic(ng-repeat="student in Students.ActiveList | filter: {Answer:2}")
      .stuprofpic404(ng-show="student.ProfilePicture==undefined") ?
      img(ng-src="{{student.ProfilePicture}}")
  header.dashheader
    h1 {{classPub.Name}}
      span.material-icons.classsettings.csr &nbsp;&nbsp;settings
    h5.plain There {{areAndIsAreWeird(Students.StudentTotal)}} currently&nbsp;
      u {{Students.StudentTotal}}
      | &nbsp;active student{{pluralsAreGoodIGuess(Students.StudentTotal)}} in your class.&nbsp;
      span(ng-show="Students.StudentTotal>0")
        u {{Answers.Perc | number}}%
        | &nbsp;of which understand the current topic.
      span(ng-show="generatedInvite")
        br
        | New student's can join your class using the invite code&nbsp;
        u {{generatedInvite}}
        | &nbsp;or by going to {{getInviteLink()}}
  .modal(ng-show="showHueModal")
    h1(ng-show="selectedHue.Light.state.reachable") Check if the {{selectedHue.Light.name}} light is changing colours
    h1(ng-hide="selectedHue.Light.state.reachable") The {{selectedHue.Light.name}} light seems to be turned off. Please turn it back on
    .modaliconcont
      .material-icons.modalicon.modaliconsmaller(ng-show="!selectedHue.Light.state.reachable") not_interested
      .material-icons.modalicon.modalicondark(ng-class="{'modaliconcolorchange': selectedHue.Light.state.reachable}") lightbulb_outline
    .modalbuttons
      button.btn.open(ng-click="hueTestPatternDone()" ng-show="selectedHue.Light.state.reachable") Yep, it is working
      button.btn.open(ng-click="hueTestPatternRetry()" ng-hide="selectedHue.Light.state.reachable") Check again
      button.btn.open.icon(icon="close" ng-click="clearSelectedHue()")
  .actionbuttoncont
    button.btn.open.icon(ng-click="generateInviteCode()" icon="group_add")
    button.btn(ng-click="createNewTopic()") New Topic
    button.btn.open.icon(ng-click="closeOffLesson()" icon="close")
  .colorbarhueinfo(ng-hide="selectedHue.Bridge&&selectedHue.Light")
    span(ng-show="!selectedHue.Bridge || !selectedHue.Light" class="dark") Please select a Phillips Hue bridge and light
    br
    select(name="bridgeSelect" id="bridgeSelect" ng-model="selectionHue.BridgeSel")
      option(value="" disabled selected) Select Bridge
      option(ng-repeat="bridge in hueBridges" value="{{bridge}}") {{bridge.Name}}
    select(ng-show="selectedHue.Bridge" name="lightSelect" id="lightSelect" ng-model="selectionHue.LightSel")
      option(value="" disabled selected) Select Light
      option(ng-repeat="light in selectedHue.Lights" value="{{light}}") {{light.name}}
  .colorbarcont(ng-class="{'colorbarhide': !(selectedHue.Bridge&&selectedHue.Light)}")
    span.opencolorbarselector(ng-click="colorbarselect=!colorbarselect")
      .material-icons(ng-if="!colorbarselect" class="dark") edit
      .material-icons(ng-if="colorbarselect" class="light") close
      .material-icons(ng-if="colorbarselect" class="light" ng-click="clearSelectedHue()") not_interested
      span(ng-show="!colorbarselect && selectedHue.Bridge && selectedHue.Light" class="dark") Connected to Phillips Hue: {{selectedHue.Bridge.Name}} - {{selectedHue.Light.name}}
    .colorbarindicatorcont
      .colorbarindicator.material-icons(style="left: {{Answers.Perc}}%") lightbulb_outline
    .colorbarselector(ng-show="colorbarselect")
      .colorbarselect(ng-repeat="color in avalicolors" data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{animate:true, placeholder:'keep', onStart:'draggingColorStart', onStop:'draggingColorStop'}" class="bglc-{{color}}" ng-model="color")
      .colorbarselect(data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{animate:true, placeholder:'keep', onStart:'draggingColorRemoveStart', onStop:'draggingColorRemoveStop'}" class="removecolor" ng-model="removeColor")
        span.material-icons highlight_off
    .colorbar
      .colorbarfacel
        include ../svg/ConfusedFace.svg
      .colorbarcoloraddl(ng-show="draggingColor" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colorbaradd.left")
        span.material-icons add
      section.colorbarcolor(ng-repeat="(key, color) in colors" id="color-{{key}}" ng-if="!$last" resizable r-directions="['right']" r-flex="true" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="color.color" ng-class="'bglc-'+color.color" ng-mouseup="recalcColor()")
      section.colorbarcolor(id="color-{{colors.length-1}}" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colors[colors.length-1].color" ng-class="'bglc-'+colors[colors.length-1].color" ng-mouseup="recalcColor()")
      .colorbarcoloraddr(ng-show="draggingColor" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colorbaradd.right")
        span.material-icons add
      .colorbarfacer
        include ../svg/happyFace.svg
