.fullpagecentercont(my-resize gothing="findFlexBasis()")
  .stuprofpiccont.stuprofpicconttop
    .stuprofpic.stuprofpichead(ng-show="Answers.one>0")
      include ../svg/BlankFace.svg
    .stuprofpic(ng-repeat="student in Students.ActiveList | filter: {Answer:1}")
      .stuprofpic404(ng-show="student.ProfilePicture==undefined") ?
      img(ng-src="{{student.ProfilePicture}}")
  .stuprofpiccont.stuprofpiccontleft
    .stuprofpic.stuprofpichead(ng-show="Answers.zero>0")
      include ../svg/ConfusedFace.svg
    .stuprofpic(ng-repeat="student in Students.ActiveList | filter: {Answer:0}")
      .stuprofpic404(ng-show="student.ProfilePicture==undefined") ?
      img(ng-src="{{student.ProfilePicture}}")
  .stuprofpiccont.stuprofpiccontright
    .stuprofpic.stuprofpichead(ng-show="Answers.two>0")
      include ../svg/happyFace.svg
    .stuprofpic(ng-repeat="student in Students.ActiveList | filter: {Answer:2}")
      .stuprofpic404(ng-show="student.ProfilePicture==undefined") ?
      img(ng-src="{{student.ProfilePicture}}")
  header
    h1 {{classPub.Name}}
    h5.plain There is currently&nbsp;
      u {{Students.StudentTotal}}
      | &nbsp;active student{{pluralsAreGoodIGuess(Students.StudentTotal)}} in your class.&nbsp;
      u {{Answers.Perc | number : 1}}%
      | &nbsp;of which understand the current topic.
    button.btn(ng-click="createNewTopic()") New Topic
    button.btn(ng-click="closeOffLesson()") Close Lesson
  
  .colorbarcont
    span.material-icons.opencolorbarselector(ng-click="colorbarselect=!colorbarselect")
      span(ng-if="!colorbarselect" class="dark") edit
      span(ng-if="colorbarselect" class="light") close
    .colorbarindicatorcont
      .colorbarindicator.material-icons(style="left: {{Answers.Perc}}%") lightbulb_outline
    .colorbarselector(ng-show="colorbarselect")
      .colorbarselect(ng-repeat="color in avalicolors" data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{animate:true, placeholder:'keep', onStart:'draggingColorStart', onStop:'draggingColorStop'}" class="bglc-{{color}}" ng-model="color")
      .colorbarselect(data-drag="true" data-jqyoui-options="{revert: true}" jqyoui-draggable="{animate:true, placeholder:'keep', onStart:'draggingColorRemoveStart', onStop:'draggingColorRemoveStop'}" class="removecolor" ng-model="removeColor")
        span.material-icons highlight_off
    .colorbar
      .colorbarfacel
        include ../svg/ConfusedFace.svg
      .colorbarcoloraddl(ng-show="draggingColor" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colorbaradd.left")
        span.material-icons add
      section.colorbarcolor(ng-repeat="(key, color) in colors" id="color-{{key}}" ng-if="!$last" resizable r-directions="['right']" r-flex="true" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="color.color" ng-class="'bglc-'+color.color" ng-mouseup="recalcColor()")
      section.colorbarcolor(id="color-{{colors.length-1}}" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colors[colors.length-1].color" ng-class="'bglc-'+colors[colors.length-1].color" ng-mouseup="recalcColor()")
      .colorbarcoloraddr(ng-show="draggingColor" data-drop="true" jqyoui-droppable="{onDrop: 'droppedColor', onOver: 'dropColorHoverOver', onOut: 'dropColorHoverOut'}" ng-model="colorbaradd.right")
        span.material-icons add
      .colorbarfacer
        include ../svg/happyFace.svg
