html(ng-app="IC")
  head
    title Interactive Classroom
    script(type="text/javascript", src="/scripts/vendor.min.js?version=0.1.1")
    link(rel='stylesheet' href='/styles/vendor.min.css?version=0.1.1')
    link(rel="stylesheet",href="/styles/app.min.css?version=0.1.11")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    script(src="/scripts/app.min.js?version=0.1.1")
    meta(name="viewport" content="width=device-width")
  body
    .nav(ng-controller="Nav" ng-class="{'navexpanddisplace' : nav}" ng-show="showNav()" click-anywhere-but-here="closeNav()" is-active="nav")
      .navitems(ng-class="{'navexpand' : nav}")
        a.navitem(ng-repeat="item in items track by $index" class="repeat-animation" ng-class="navItemClass(item)" href="{{item.link}}" icon="{{item.icon}}") {{item.fb.Name}}
      button(class="hamburger hamburger--elastic" ng-click="toggle()" ng-class="{'is-active' : nav}")
        span(class="hamburger-box")
          span(class="hamburger-inner")
      .navpointer(ng-show="showNavTut()")
        .navpointerarrow
          include ../svg/ArrowCurve.svg
        h1 You can see your classes in here
    .maincontainer(ng-view)
